<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDKOVuH-sO94zZ-eCF7YWk1JU0BF6YzxF0</string>
	<key>GCM_SENDER_ID</key>
	<string>619103066314</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yinfoMobile</string>
	<key>PROJECT_ID</key>
	<string>yinfo-965db</string>
	<key>STORAGE_BUCKET</key>
	<string>yinfo-965db.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:619103066314:ios:44967a03a8a6ca7bb2bc33</string>
</dict>
</plist>